# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata
.classpath
.project
.recommenders

# IDEA
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# Mac
.DS_Store

# Minecraft
run
runs
run-data
logs/
crash-reports/

# Generated sources
src/generated/

# Other
bin/
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar
